body{
   width: 960px;
   margin:0 auto;
   font-size: 12px;
    font-family: "微软雅黑";

}
.gradient{
	height: 30px;
	background-color: #f8f8f8;
	border-radius: 10px;
}
.link{
	float: right;
	margin: 5px 20px ;
}
.gradient a{
	text-decoration: none;
	color: black;
}
.city button{
	border: solid 0.5px;
    border-radius: 5px;
    border-color: #DCDCDC;
}
.city{
	float:left;
	margin-top: 5px;
	margin-left: 20px;
}

.nav_1{
	height: 100px;
	margin-left: -50px;
}
.nav_1 li{
	list-style-type: none;
	float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: 10px;
}
.nav_1 button{
	width: 47px;
	height: 47px;
	border-radius: 50px;
	outline: none;	
}

.nav_1 li button:hover {
	background-image: url(images/555.png);

}
.bg1{
	text-decoration: none;
	color: black;
}
.bg1 a:hover{
	background-color: #e33530;
}
.rel{
	margin-left: 15px;
}
.nav_2{
	float: right;
	margin-top: -70px;
}
.gra{
	width: 960px;
	height: 116px;
	background-color:#f8f8f8;
	border-radius: 7px; 
	border:solid 1px;
	border-color: #dbdbdb;
	margin-top: -28px;
}
.menu{
	width: 960px;
	height: 66px;
	margin-left: 180px;
}
.bian{
	float: left;
	z-index: 5;
}
.bar li{
	list-style-type: none;
	border: solid;
	width: 80px;
	height: 25px;
	float: left;
	border-width: 1px;
	border-color: #f8d0bf;
	border-radius: 5px 5px 0 0;
	margin-left:2px;
	margin-top: -23px;
	font-size: 130%;
	text-align: center;
	background-color: white;

}
.bar{
	width: 960px;
	height: 4px;
}
#search_a{
	width: 960px;
	height: 66px;
	border-radius: 5px;
	background-color:#e33530;
	z-index: 4;
	border-color: #e33530;
}
.seach_a{
	width: 404px;
	height: 17px;
	margin-top: -2px;
	margin-left: 20px;
	border-radius: 3px;


}
.seach{
	width: 410px;
	height: 21px;
	margin-left: 160px;
    padding-top: 20px;

}
.seach_a{
	color:  #ec8684;
}
.sea{
   float: right;
   position: relative;
   margin-top: -20px;
   margin-right:300px;
}
.po a{
	color: white;
	text-decoration: none;

}
.con_l{
	float:left;
}
.po{
	float: right;
	width: 200px;
	margin-left: 410px;
	margin-top: -34px;
	color: white;
}
.po a:hover{
	text-decoration: underline;
}
.menu li.select{
	background-color: #e33530;
	border-color: #e33530;
	color: #fefbf7;
}
.con{
	margin-top: 15px;
	position: relative;
}
.con_aa{
	margin-left: 15px;
}

.con_aa a{
	text-decoration: none;
	color: black;
}
.con_aa ul{
	float: right;
	margin-right: 40px;
}
.con_aa a:hover{
	text-decoration: underline;
}
.con_aa li{
	color:#e33530; 
}
#con_aa{
	border:solid 1px;
	width: 350px;
	height:420px;
	border-radius: 10px;
	border-color: #dbdbdb;
	position:absolute;
	
}
.con_aaa{
	color: #e33530;
}
#con_a{
	width: 710px;
	height: 430px;
}
#con_ab{
	width: 350px;
	height: 420px;
	float: right;
}
.con_ab1{
	width: 350px;
	height: 34px;
	margin-left: -40px;
	margin-top: 0px;

}
.con_ab1 li{
	list-style-type: none;
	border: solid;
	width: 170px;
	height: 34px;
	float:left;
	border-width: 1px;
	border-color: #dbdbdb;
	border-radius: 5px 5px 0 0;
	font-size: 120%;
	margin-left: 0px;
	text-align: center;
	background-color: #fafafa;
}
strong{
	color: #e33530;
}
span{
	color: #000000;
}
.con_ab2{
	border:solid 1px;
	border-color: #dbdbdb;
	border-top-style: none;
	width: 342px;
	height: 386px;
	margin-top: -13px;
	border-radius: 0 0 5px 5px;
	position: relative;
}
.tabCon1{
	width: 318px;
	height: 336px;
}
.ar{
	width: 318px;
	height: 108px;
	background:linear-gradient(white,#f8f8f8);
	margin-left: -30px;
	list-style: none;
	position: absolute;
	margin-top: 10px;
}
.ar img{
	margin-top: 10px;
	margin-left: 5px;
}
.ar div{
	margin-top: -100px;
	margin-left: 140px;
}

.ar2{
	width: 318px;
	height: 108px;
	background-color:#f8f8f8;
	margin-left: -30px;
	list-style: none;
	position: absolute;
margin-top: 130px;}
.ar2 img{
	margin-top: 10px;
	margin-left: 5px;
}
.ar2 div{
	margin-top: -100px;
	margin-left: 140px;
}
.ar3{
	width: 318px;
	height: 108px;
	background-color:#f8f8f8;
	margin-left: -30px;
	list-style: none;
	position: absolute;
	margin-top: 260px;}
.ar3 img{
	margin-top: 10px;
	margin-left: 5px;
}
.ar3 div{
	margin-top: -100px;
	margin-left: 140px;
}
.con_ab1 li.select{
    background-color: white;
    border-bottom-color: white;
}

#con_ab2 a{
    text-decoration: none;
    color: #e33530;
}
.con_l{
	width: 710px;
}
#con_ab2 a:hover{
	text-decoration: underline;
}
#con_b{
	width: 710px;
}
.side_fr{
	float: right;
	width: 240px;
	margin-left: -10px;
}
.login{
	border:solid 1px;
	border-color: #dbdbdb;
	border-radius: 5px;
	height: 140px;

}
.login_a{
	border:solid 1px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-color: #dbdbdb;
	width: 238px;
	height: 35px;
	color: #e33530;
	font-size: 110%;
	background-color: #fafafa;

}
.form{
	width: 214px;
	height: 60px;
	border-bottom: solid 1px #dbdbdb;
	margin-left: 10px;
}
.form li{
	list-style: none;
	margin-left: -20px;
	margin-top: 10px;
}
.form .input{
   width: 70px;
}

.form .sub{
	background-color: #cc2f2b;
	border-radius: 10px;
	width: 54px;
	height: 22px;
	color: white;
}

.pp li{
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	color: #e33530;

}
.pp a{
	color: #000000;
	text-decoration: none;
}
.pp a:hover{
	text-decoration: underline;
}
.side_b{
	margin-top: 6px;
}
.main_wrap{
	width: 710px;
	height: 510px;
}
.activity{
	width: 350px;
	height: 500px;
	border:solid 1px #dbdbdb;
	margin-top: 10px;
	border-radius: 5px;
	position: relative;
	float: left;
}
.icon{
	width: 348px;
	height:104px; 
}
.mask{
	width: 204px;
	height: 68px;
	float: right;
	margin-top: -100px;
	margin-right: 30px;
}
.activity_a img{
	margin-left: 20px;
}
.calendar h3{
	height: 34px;
	width: 292px;
	line-height: 34px;
	margin-top: 0px;
	text-align: center;
	margin-left: 20px;
	display: block;
	background:linear-gradient(#f8f8f8,white); 
}

.calendar span{
	margin-left: 5px;
}
.new_title{
	position: relative;
	height: 50px;
    border-bottom: solid 3px #f3f3f2;
}
.new_title span{
	position: absolute;
	margin-top: 20px;
	margin-left: -100px;
	font-size: 24px;
	font-weight: normal;
	color: #333;
}
.new_title strong{

	font-size: 30%;
	color: #e33530;
	margin-left: 30px;
}
.new_title em{
	    font-size: 36px;
    font-weight: bold;
    color: #ec1c16;
    position: absolute;
    left: 140px;
}
#nomal{
	background-color: #f8f8f8;
}
.nom{
	list-style: none;
	margin-left: -20px;
	margin-top: -15px;
}
.calendar  ol li{
	width: 40px;
	height: 29px;
	text-align: center;
	float: left;
	display: block;
	padding-top: 11px;
	background-color: #ededed;
	color: #666;
	margin-right: 2px;
	margin-bottom: 2px;
	font-family: arial;
}
.nom img{
	width: 40px;
	height: 40px;
    margin-top: -11px;
}

.today{
	width: 294px;
    height: 84px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    background: #fff;
    position: absolute;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
    position: absolute;
    z-index: 5;
}
.text{
	float: right;
	width:170px;
	margin-right: 20px;
	margin-top: -15px;
}
.recommed{
    width: 350px;
	height: 500px;
	border:solid 1px#dbdbdb;
	margin-top: 10px;
	border-radius: 5px;
	position: relative;
	float: right;
	z-index: 2;
}

.recommed ol img{
    width: 60px;
    height: 36px;
}
.list{
	margin-top: 200px;
}
.recommed ul{
	float: left;
	margin-left: -30px;



}
.new_tit{
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
}

.new_tit span{
	position: absolute;
	top: 20px;
	left: 10px;
	font-size: 120%;
}
.recommed ol{
	height: 147px;
	float: right;
	width: 20px;
	margin-top: 0px;
	margin-right: 15px;
}
.recommed ol li{
	height: 36px;
	width: 60px;
	float: right;
	display: block;
	font-family: arial;
	background-color:white;
	margin-top: 12px;
}
.pic{
	width: 318px;
	height: 180px;
	margin-left: 12px;
	background-color: #f8f8f8;
	border-radius: 10px;
	position: absolute;
	margin-top:2px;


}
.pic p{
	position: absolute;
	margin-left: 10px;
	margin-top: 150px;
     }

.active{
	border:solid 2px #e33530;
}
.liste{
	position: absolute;
	margin-left: 10px;
	margin-top: 190px;
	width: 348px;
	height: 234px;
}
.liste li{
	list-style: none;
	margin-top: 5px;
}
.liste a{
	text-decoration: none;
	color: #666;
	margin-left: 5px;
}
.liste span{
	margin-left: 60px;
}
a:hover{
	text-decoration: underline;
}
.main_clear{
	width: 710px;
	height: 320px;
}
.options{
	width: 350px;
	float:left;
}
.options_a{
	width: 350px;
	height: 34px;
	margin-left: -40px;
}
.options li{
	list-style-type: none;
	border: solid;
	width: 173px;
	height: 34px;
	float:right;
	border-width: 1px;
	border-color: #dbdbdb;
	border-radius: 5px 5px 0 0;
	font-size: 120%;
	margin-left: 0px;
	text-align: center;
	background-color: #fafafa;
}
.section{
	border:solid 1px;
	border-color: #dbdbdb;
	border-top-style: none;
	width: 348px;
	height: 296px;
	margin-top: -13px;
	border-radius: 0 0 5px 5px;
	position: relative;
}
.options_a li.select{
    background-color: white;
    border-bottom-color: white;
}
.bbs{
	float: right;
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 350px;
	height: 330px;
	margin-top: 10px;
}
.main-title a{
	margin-left: 200px;
}
.main-title{
	margin-left: 10px;
}
.bbs ol{
	list-style: none;
	margin-left: -30px;
	margin-right: 10px;
}
.act_a a{
	text-decoration: none;
	margin-left: 30px;
	color: #333;
}
.act_a span{
	margin-left: 60px;
	display: inline;
}
.act_a{
	border-radius: 5px;
	background-color: #f8f8f8;
	position: relative;
	padding: 2px;
	margin-top: 8px;
}
.act_b img{
	 width: 50px;
	 height: 50px;
}
.act_b a{
	text-decoration: none;
	color: white;
	float: right;
	margin-right: 140px;
}
.act_b span{
	margin-left: 100px;
	color: white;}
.act_b em{
	font-size: 180%;
	color: white;
    float: right;
}
.act_b{
	background-color: #da332e;
	border-radius: 10px;
	padding: 10px;
}
.main_ad{
	width: 710px;
	margin-top: 10px;
}
.bbsr{
		float: right;
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 350px;
	height: 300px;
	margin-top: 10px;
}
.optionsr{
		float: left;
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 350px;
	height: 300px;
	margin-top: 10px;
}
.img4{
    float: right;
}
.main_title{
	font-size: 80%;
	margin-left: 20px;
}
.tab li{
     list-style: none;
     border:solid 1px #dbdbdb;
     width: 100px;
     height: 21px;
     float: left;
     padding-top: 5px;
     text-align: center;
     background-color: #f8f8f8;
}
.tab{
	margin-left: 20px;
}
.title{
	list-style: none;
	margin-top: 45px;
}
.title span{
	margin-left: 100px;
	color: #a2a0b5;
}
.col1 em{
    font-size: 110%;
    color:#333; 
}
.col1 a{
	text-decoration: none;
}
.col1 span{
	color: #e33530;
}
.col2{
	margin-left: 97px;
}
.list_section{
	color: #e33530;
}
.list_section li{
    border:solid 1px #dbdbdb;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 10px;
    width: 288px;
}
li.acti{
    background-color: white;
    border-bottom: none;
}
.soso{
	margin-left: 30px;
	margin-top: 20px;
}
.te{
	border-radius:50px;
	background-color: #e33530;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	margin-left: 20px;
}
.hot1{
	width: 318px;
	height: 258px;
	margin-left: 10px;
}
.hot1 li{
	list-style: none;
	float: left;
}
.hot1 ul{
	margin-left: -40px;
}
.tou1 img{
	z-index: 1px;
	position: relative;
}
/*透明效果*/
.tou1 div:hover{
	float: left;
	z-index: 100px;
	position: absolute;
	margin-top: -81px;
	width: 77px;
	height: 77px;
	background-color: white;
	opacity: 0.5;
/*	display:block;*/  
}
.tou1 div{
	float: left;
	z-index: 100px;
	position: absolute;
	margin-top: -81px;
	width: 77px;
	height: 77px;
	opacity: 0;

}
.side_section{
	float: right;
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 240px;
	height: 240px;
	margin-top: 10px;
}
.tab_a li{
   border:solid 1px #dbdbdb;
   border-radius: 5px 5px 0 0 ;
   list-style: none;
   width: 68px;
   height: 21px;
   float: left;
   text-align: center;
   padding-top: 5px;
   background-color: #f8f8f8;
}
.tab_ab{
	margin-left: -30px;
}
li.active_a{
    background-color: white;
    border-bottom: none;
}
.titles span{
	color: #ad9c9f;
	float: left;
	margin-top: 5px;
}
.list_section1 li{
	list-style: none;
	margin-top: 5px;
	float: left;
	border-bottom: solid 1px #dbdbdb;
}
.tab_a{
	margin-left: 20px;
}
.co1{
     margin-left: 20px;
}
.co2{
   margin-left: 50px;

}
.co3{
   margin-left: 30px;
}

.co11{
	
	margin-top: 10px;

}
.co12{
	margin-left: 20px;
	color: #e33530;
}
.co13{
	margin-left: 20px;
}
.co11 a{
	text-decoration: none;
	color: #333;
}
.co11 a:hover{
	text-decoration: underline;
}
.side_section1{
    border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 240px;
	height: 420px;
	margin-top: 225px;
}
.pic_list li{

	list-style: none;
	margin-top: 10px;
	width: 214px;
	height: 84px;
	border-bottom: solid 1px #dbdbdb;
}
.pic_list{
	margin-left: -25px;
}
.text_fl h3 a{
	color: #e33530;
}
.pic_list a{
	text-decoration: none;
	color: #333;
}
.pic_list a:hover{
	text-decoration: underline;
	color: #e33530;
}
.pic_list img{
	width: 90px;
	height: 67px;
	float: left;
}
.img_fl{
	width: 90px;
}
.img_fl img:hover{
    border:solid 1px #e33530;
}
.text_fl{
	float: right;
	margin-top: -20px;
}
.side_section2{
	border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 240px;
	height: 180px;
	margin-top: 10px;
}
.pano img:hover{
    border:solid 1px #e33530;
}
.pano img{
	margin-left: 10px;
}
.pano a{
	text-decoration: none;
}
.pano a:hover{
	text-decoration: underline;
}
.pano span:hover{
	color: #e33530;
}
.side_section3{
		border: solid 1px #dbdbdb;
	border-radius: 5px;
	width: 240px;
	height: 370px;
	margin-top: 10px;
	overflow: hidden;
}
.col1 em:hover{
	color: #e33530;
}
.clear_a{
	width: 350px;
	height: 250px;
	border:solid 1px #dbdbdb;
	border-radius: 5px;
	float: left;
}
.help{
	width: 320px;
	margin-left: 20px;
}
.help img{
	margin-left: 20px;
}
.fl{
	float: left;
	margin-left: 30px;
}
.fl  a{
     text-decoration: none;
}
.fl li{
	color: #e33530;
}
.fr{
	float: right;
	margin-right: 30px;
}
.fr a{
	text-decoration: none;
	color: #333;
}
.fr li{
	color: #e33530;
}
.fl a:hover{
	text-decoration: underline;

}
.fr a:hover{
	text-decoration: underline;
}
.clear_b{
	float: right;
	width: 350px;
	height: 250px;
	border:solid 1px #dbdbdb;
	border-radius: 5px;
}
.clear_b li{
	list-style: none;
}
.clear_b ul{
	margin-left: -15px;
	width: 318px;
}
.clear_b p{
   margin-left: 100px;
   margin-top: -25px;
}
.side_section4{
	border:solid 1px #dbdbdb;
	border-radius: 5px;
	height: 340px;
	margin-top: 10px;
	overflow: hidden;
}
.lis{
	list-style: none;
	width: 107px;
	height: 150px;
	font-size: 50%;
	margin-left: -20px;
	float: left;
}
.lis2{
	list-style: none;
	width: 107px;
	height: 150px;
	float: right;
	font-size: 50%;
}
.side_section4 a{
	text-decoration: none;
	color: #333;
}
.wra1{
	height: 150px;
}
.wra1 a:hover{
	text-decoration: underline;
	color: #e33530;
}
.list_section6 li{
	margin-top: 10px;
	border-bottom: solid 1px #dbdbdb;
}
.list_section6{
	margin-top: 40px;
	width: 170px;
}
.con{
	height: 2050px;

}
.foot{
	margin-left: 200px;
	margin-top: 10px;
}
.foot a{
	text-decoration: none;
	color: #333;
	margin-left: 10px;
	padding-right: 20px;
}
#footer{
	background-color: #f9f9f9;
	border:solid 1px #dbdbdb;
	border-radius: 5px;
}
.foot a:hover{
	text-decoration: underline;
}
.foot p{
	margin-left: 100px;
}
